@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto; /* Statt 100%, um das natürliche Scrolling zu ermöglichen */
    overflow-x: hidden; /* Verhindert nur horizontales Scrollen */
    overflow-y: visible; /* Erlaubt vertikales Scrollen */
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0; /* Stellt sicher, dass es direkt unter der Navbar startet */
    z-index: -1; /* Stellt sicher, dass es hinter der Navbar ist */
}

.hero-image {
    width: 100%;
    height: 110%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); /* Weißer Filter über das Bild */
    z-index: 1; /* Stellt sicher, dass das Overlay über dem Bild ist */
}

.hero-text {
    position: absolute;
    top: 60px; /* Oben im Container positionieren */
    left: 20px; /* Links ausrichten */
    text-align: left;
    color: #333;
    z-index: 2;
}

.text-container {
    margin-top: 35%;
    max-width: 600px; /* Maximale Breite festlegen, um die Ausdehnung zu kontrollieren */
    display: inline-block; /* Hält die Elemente zusammen */
}

.hero-title {
    font-family: 'Oswald', sans-serif;
    font-size: 6em; /* Größere Schrift für den Haupttitel */
    font-weight: bold; /* Macht die Schrift fett */
    margin-bottom: 0px; /* Minimaler Abstand zum nächsten Text */
    line-height: 0.1;
    white-space: nowrap; /* Verhindert Zeilenumbruch */
    letter-spacing: normal; /* Normaler Buchstabenabstand */
    animation: fadeInSlideIn 1.5s ease-out forwards; /* Fügt eine Einblendanimation hinzu */
}

.hero-subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 4.8em; /* Kleinere Schriftgröße für "Dachtechnik" */
    font-weight: lighter; /* Schmalerer Schriftstil */
    line-height: 0.9;
    white-space: nowrap; /* Verhindert Zeilenumbruch */
    display: block; /* Blockelement macht automatische Breitenanpassung */
    text-transform: uppercase; /* Text in Großbuchstaben für Einheitlichkeit */
    overflow: hidden; /* Versteckt Überlaufenden Inhalt */
    text-overflow: ellipsis; /* Fügt Punkte hinzu, wenn Text überläuft */
    transform: scaleY(0.9); /* Skaliert die Höhe um 90%, um es schmaler zu machen */
    animation: fadeInSlideInSub 2.5s ease-out forwards;
}

.service-section {
    position: relative;
    background-color: white;
    transform: skewY(-6deg); /* Leichter Skew-Effekt für den Anfang */
    transition: transform 0.5s ease-out; /* Weiche Übergänge für die Animation */
    overflow: hidden; /* Versteckt überflüssige Inhalte, die über die Grenzen hinausgehen */
    top: -100px;
    height: 60vh; /* Definiert eine spezifische Höhe für die Sichtbarkeit */
    text-align: center;
    padding: 50px 0;
}

.container {
    max-width: 1200px; /* Maximale Breite des Containers */
    margin: 0 auto; /* Zentriert den Container */
    padding: 80px 20px; /* Padding an den Seiten, für kleiner Bildschirme */
}

.service-grid {
    display: flex; /* Flex-Container für die Karten */
    flex-wrap: wrap; /* Erlaubt Umbrüche für kleinere Bildschirme */
    justify-content: space-around; /* Verteilt die Karten gleichmäßig mit Raum dazwischen */
    margin-top: 20px; /* Abstand von der Überschrift */
    gap: 20px;
    justify-content: space-between;
    align-items: stretch;
}

.heading-container {
    position: relative;
    margin-bottom: 40px;
}

.background-text {
    font-family: 'Oswald', sans-serif;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 0;
    margin: 0;
}

.foreground-text {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #333;
    position: relative;
    z-index: 1;
    margin: 0;
    text-align: left;
    animation: slideIn 2.5s ease-out forwards;
}


.service-card {
    flex: 1 1 calc(25% - 20px);
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.service-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 132, 43, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.service-card:hover::before {
    opacity: 1;
}

.service-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.service-card p {
    color: #666; /* Mittelgraue Schriftfarbe für Beschreibung */
    font-size: 14px; /* Schriftgröße für die Beschreibung */
}

.service-card:hover {
    transform: translateY(-10px); /* Hebt die Karte an beim Drüberfahren */
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* Stärkerer Schatten beim Hover */
}

.button {
    padding: 10px 20px;
    border: 2px solid #fa842b; /* Orange Farbe für den Rand */
    background-color: transparent; /* Durchsichtiges Hintergrund */
    color: #fa842b; /* Orange Textfarbe */
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: large;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 5px; /* Leicht abgerundete Ecken */
}

.button:hover {
    transform: scale(1.05); /* Vergrößert den Button beim Hover */
    background-color: #fa842b; /* Füllt den Button mit der orangenen Farbe */
    cursor: pointer;
    color: white; /* Ändert die Textfarbe zu Weiß */
}

.button:active {
    background-color: #cc6a21; /* Dunklerer Orange-Ton beim Klicken */
}

.hr {
    border-radius: 10px 10px 10px 10px;
    border: none;
    height: 3px;
    margin-top: -50px;
    background-color: black;
}

@keyframes fadeInSlideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInSlideInSub {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
